<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ObtenerEstado</servlet-name>
        <servlet-class>dao.ObtenerEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerMunicipio</servlet-name>
        <servlet-class>dao.ObtenerMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerLocalidad</servlet-name>
        <servlet-class>dao.ObtenerLocalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearUsuario</servlet-name>
        <servlet-class>Servlets.crearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCliente</servlet-name>
        <servlet-class>Datos.CrearCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>dao.Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>dao.Ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>dao.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar</servlet-name>
        <servlet-class>dao.Cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factura</servlet-name>
        <servlet-class>dao.Factura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrador</servlet-name>
        <servlet-class>dao.Administrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>dao.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>dao.Producto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObtenerEstado</servlet-name>
        <url-pattern>/ObtenerEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerMunicipio</servlet-name>
        <url-pattern>/ObtenerMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerLocalidad</servlet-name>
        <url-pattern>/ObtenerLocalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearUsuario</servlet-name>
        <url-pattern>/crearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCliente</servlet-name>
        <url-pattern>/CrearCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar</servlet-name>
        <url-pattern>/Cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factura</servlet-name>
        <url-pattern>/Factura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrador</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/Producto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error/error-404.jsp</location>
    </error-page>
</web-app>
